name: PR Check

on:
  pull_request:
    branches: [master]

jobs:
  changeset-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: ./.github/actions/setup
      - run: git fetch origin master:master
      - run: bunx changeset status
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
